/* banner */
.bannerSlide {
    width: 100%;
    background: var(--color-one);
    color: var(--color-two);
}

.swiper.banner {
    width: var(--max-width);
}

.swiper.banner .mySlide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    height: 550px;
}

.swiper.banner .mySlide .slideContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.swiper.banner .mySlide .slideContent h2 {
    font-size: 50px;
}

.swiper.banner .mySlide .slideImage {
    width: 50%;
    justify-content: flex-end;
}

.swiper.banner .mySlide .slideImage img {
    width: 100%;
}

.swiper.banner span.swiper-pagination-bullet-active {
    background-color: var(--color-two);
}

/* end banner */

/* categories card */
.categories {
    width: 100%;
    padding: 60px 10px 30px;
}

.categories .row {
    width: var(--max-width);
    flex-direction: column;
    gap: 20px;
}

.categoryGrid {
    display: flex;
    gap: 10px;
    width: 100%;
}

.categoryGrid a {
    width: 100%;
}

.categoryGrid .category {
    height: 300px;
    border-radius: 20px;
    background: var(--secondary-color);
    color: var(--color-two);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: var(--headings-font);
}

.categorySlide span.swiper-pagination-bullet-active {
    background-color: var(--color-one);
}

.swiper.categorySlide {
    padding: 0 0 35px;
}

/* End category */

/* Product Grid */

.topProducts {
    width: 100%;
    padding: 30px 10px;
}

.topProducts .row {
    flex-direction: column;
    width: var(--max-width);
}

.topProducts .topProductsGrid {
    padding: 30px 0;
    width: 100%;
}

.swiper.productSlide {
    padding: 10px 10px 40px;
}

/* End Product Grid */


/* New Updates */
.newUpdates {
    width: 100%;
    padding: 10px 10px 30px;
}

.newUpdates .row {
    width: var(--max-width);
    gap: 20px;
}

.newUpdates .myColumn {
    width: 100%;
    height: 400px;
    background: var(--color-one);
    border-radius: 20px;
    padding: 30px;
    color: var(--color-two);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.3s;
}

.newUpdates .myColumn h3 {
    font-size: 30px;
}

.newUpdates .myColumn.left {
    background-image: url(../images/left.webp);
}

.newUpdates .myColumn.right {
    background-image: url(../images/right.webp);
}

.newUpdates .myColumn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1e5ab586;
    backdrop-filter: blur(5px);
    z-index: -1;
    transition: 0.3s;
}

.newUpdates .myColumn:hover::before {
    background: #1e5ab5c7;
    backdrop-filter: blur(10px);
}

/* End New Updates */


/* Product */

.productGridContainer {
    width: 100%;
    padding: 30px 10px;
}

.productGridContainer .row {
    flex-direction: column;
    width: var(--max-width);
    gap: 30px;
}

.productGridContainer .productGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

.productGrid .productCard {
    width: calc(25% - 15px);
}

@media (max-width: 1024px) {
    .productGrid .productCard {
        width: calc(33.333% - 15px);
    }
}

@media (max-width: 768px) {
    .productGrid .productCard {
        width: calc(50% - 15px);
    }
}

@media (max-width: 480px) {
    .productGrid .productCard {
        width: 100%;
    }
}


/* End Product */

/* Faqs */

.faqs {
    width: 100%;
    padding: 30px 10px 60px;
}

.faqs .row {
    flex-direction: column;
    width: var(--max-width);
    gap: 30px;
}

.faqAccordian {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px #00000034;
    transition: all 0.3s;
}

.faq .question {
    padding: 15px 20px;
    background: var(--secondary-color);
    color: var(--color-two);
    font-family: var(--headings-font);
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
}

.faq .question:hover {
    background: var(--color-one);
}
.faq .answer {
  height: 0;
  overflow: hidden;
  padding: 0 20px;
  transition: height 0.4s ease, padding 0.4s ease;
}


.faq.open .answer {
    padding: 20px;
    height: 80px;
}
/* End Faqs */





/* for single product */

.singleProduct {
    width: 100%;
    padding: 60px 10px;
}

.singleProduct .row {
    width: var(--max-width);
    gap: 30px;
}

.singleProduct .productImage {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0000001c;
    border-radius: 20px;
    background: var(--color-two);
    box-shadow: 0 0 10px #0000000c;
}

.singleProduct img {
    width: 100%;
}

.singleProduct .productInfo {
    width: 100%;
}


.singleProduct .productInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.singleProduct .breadcrumbs ul {
    display: flex;
    list-style-type: none;
    gap: 5px;
    font-size: 14px;
}

.singleProduct .breadcrumbs ul li a {
    color: var(--secondary-color);
}

.singleProduct .breadcrumbs ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.singleProduct .breadcrumbs ul li ion-icon.md.hydrated {
    font-size: 12px;
}

.productInfo h1 {
    font-size: 50px;
}

.productRating {
    font-family: var(--headings-font);
}

.productPrice {
    font-size: 30px;
    font-family: var(--headings-font);
    color: var(--secondary-color);
}

.addToCart {
    display: flex;
    align-items: center;
    gap: 20px;
}

.addToCart .quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border-radius: 5px;
}

.addToCart .quantity span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: var(--color-one);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  transition: background 0.2s ease;
}

.addToCart .quantity span:hover {
  background: var(--secondary-color);
}

.addToCart .quantity input {
  width: 50px;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
